'use client';
import Image from 'next/image';
import CvImage from '../../public/images/CvImg2.jpg';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faReact } from '@fortawesome/free-brands-svg-icons';
import { faDatabase, faHandshake, faCode, faLaptopCode } from '@fortawesome/free-solid-svg-icons';

import '../app/styles/cover-page.css';

function CoverPg(){
    return(
        <div className="profile">

            <h1 className='name'>Mandla Ndiweni</h1>

            <div className='bio'>
                <div className='CVimg'>
                    <Image src={CvImage} alt='Mandla Ndiweni CV Image' className='grid-image'/>
                </div>

                <div className='bcard'>
                    <h2 className='prof'>A Full Stack Developer</h2>
                    <p className='bcard-para'>
                        As a recent Software & Web Development graduate from{' '}
                        <a 
                            href="https://www.belgiumcampus.ac.za/" 
                            target="_blank" 
                            rel="noopener noreferrer" 
                            className="text-link"
                        >
                            Belgium Campus ITversity
                        </a>, 
                        I offer a strong foundation in Full Stack development, specifically React.js, Node.js, C#, and SQL. 
                        Beyond code, I bridge the gap between technical logic and business needs, 
                        leveraging experience in IoT hardware integration and a background in direct sales to communicate complex concepts effectively.
                    </p>
                </div>
            </div>
            
            <div className="icon-pyramid">
                <div className="icon-row">
                    <FontAwesomeIcon icon={faReact} className="tech-icon" title="React.js" />
                    <FontAwesomeIcon icon={faCode} className="tech-icon" title="C# / Backend Logic" />
                </div>

                <div className="icon-row">
                    <FontAwesomeIcon icon={faDatabase} className="tech-icon" title="SQL / Database" />
                    <FontAwesomeIcon icon={faLaptopCode} className="tech-icon" title="Software Development" />
                    <FontAwesomeIcon icon={faHandshake} className="tech-icon" title="Sales & Communication" />
                </div>
            </div>

            <div className='intro-para'>
                <p className="paragraph">
                   I am now actively seeking a Full Stack internship where I can not only learn 
                   from experienced mentors but also make an immediate impact. I am eager to apply 
                   my academic knowledge to production-level environments, tackling real-world 
                   challenges with clean, efficient code. My goal is to join a forward-thinking 
                   team that values adaptability and problem-solving, allowing me to refine my 
                   skillset while contributing to meaningful software solutions.
                </p>
                <button onClick={() => {
                        const link = document.createElement('a');
                        link.href = '/Mandla Ndiweni.pdf';
                        link.download = 'Mandla Ndiweni.pdf';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }}
                    className="download-cv-btn" >
                    Download CV
                </button>
            </div>
        </div>
    );
}

export default CoverPg;