.devH {
	color: var(--timeline-circle-theme);
	justify-self: center;
}
.tool-skill, .pg-skill{
	padding: 0 3rem;
}

.BG2 {
	position: relative;
	overflow: hidden;
}

.BG2 .wrapper {
	position: relative;
	z-index: 1;	
	padding: 0 2rem;
}

.title-icon {
	font-size: 2rem;
	color: var(--timeline-circle-theme);
	margin-left: 150px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.pg-list, .tool-list, .favor-list {
	padding: 0;
	list-style: none;
}
.pg-list > li {	
	margin: 1rem 0;
	display: flex;
	align-items: center;
}
.sb-skeleton {
	position: relative;
	flex: 1 0 auto;
	height: 2px;
	background-color: var(--color-gray-dark-3);
}
.pg-list > li > span {
	flex: 0 0 100px;
}
.sb-skeleton > .skillbar {
	position: absolute;
	left: 0;
	top: -1px;
	width: var(--pgbar-length);
	height: 4px;
	background-color: var(--profile-theme);
}
.tool-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.tool-list > li {
	position: relative;
	text-align: center;
	flex: 0 0 25%;
}
.tool-list > li > svg {
	position: relative;
	fill: transparent;
	width: 95%;
	transform: rotate(-90deg);
}
.tool-list > li > svg > circle {
	stroke-width: 1px;
	stroke: #cdcdcd;
}
.tool-list > li > svg > circle.cbar {
	stroke-width: 3px;
	stroke: var(--profile-theme);
	stroke-linecap: round;
	stroke-dashoffset: 0;
	stroke-dasharray: calc(var(--MATH-PI) * 45 * 2);
	transition: all 0.8s;
	transition-timing-function: cubic-bezier(.64,.51,.16,.86);
}
.tool-list > li:hover > svg > circle.cbar {
	stroke-width: 4px;
	stroke: var(--color-tiffany);
	stroke-dashoffset: calc(var(--MATH-PI) * 45 * 2 * (1 - var(--percent)));
}
.tool-list > li > .tl-name,
.tool-list > li > .tl-exp {
	position: absolute;
	left: 50%;
	color: var(--color-gray-dark-1);
}
.tool-list > li > .tl-name {
	top: 50%;
	font-size: 1.2rem;
	transform: translate(-50%, -50%);
}
.tool-list > li > .tl-exp {	
	top: calc(50% + 1.4rem);
	font-size: 1rem;
	transform: translate(-50%, -50%);
}

@keyframes circle {
	0% {
	box-shadow: 0 0 0 0px rgba(51, 52, 57, 1);
	}
	100% {
	box-shadow: 0 0 0 6px rgba(51, 52, 57, 0);
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 90%;
	}
	.wrapper {
		flex-direction: column;
	}
	.intro, .detail {
		flex: 0 0 100%;
		box-shadow: none;
	}
	.intro-section {
		padding: 0 2rem;
	}
	.profile {
		margin-bottom: 1rem;
	}
	.profile::after {
		display: none;
	}
	.photo img {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 80%;
	}
	.tool-list {
		flex-wrap: wrap;
	}
	.tool-list > li {
		flex: 0 0 33.33%;
	}
	.favor-list > li {
		flex: 0 0 33.3333%;
	}
	.tool-skill, .pg-skill {
	padding: 0 1rem;
	}
	.title-icon {
		margin-left: 50px;
	}
	.BG2 .wrapper {
		padding: 1rem;
	}
}

@media (max-width: 1024px) {
	.tool-list > li {
	flex: 0 0 33.33%;
	}
}

@media (max-width: 600px) {
	.tool-list > li {
	flex: 0 0 50%;
	}
}

@media (max-width: 400px) {
	.tool-list > li {
	flex: 0 0 100%;
	}
}

@media (max-width: 500px) {
	.pg-list > li > span {
	flex: 0 0 80px;
	font-size: 0.9rem;
	}
	.title-icon {
	margin-left: 20px;
	}
	.tool-list > li > .tl-name {
	font-size: 1rem;
	}
	.tool-list > li > .tl-exp {
	font-size: 0.9rem;
	}
}